@model Afrimart.ViewModels.Sellers.AddProductViewModel
@{
    ViewData["Title"] = "Complete profile";
    Layout = "_SellerLayout";
}

<!-- Dashboard header-->
<partial name="_DashboardHeader" model="Model.DashboardHeaderViewModel" />
<div class="container mb-5 pb-3">
    <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row">
            <!-- Sidebar-->
            <partial name="_Sidebar" />
            <!-- Content-->
            <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
                <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
                    <!-- Title-->
                    <div class="d-sm-flex flex-wrap justify-content-between align-items-center pb-2">
                        <h2 class="h3 py-2 me-2 text-center text-sm-start">Add New Product</h2>
                        <div class="py-2">
                            <select class="form-select me-2" id="unp-category">
                                <option>Select category</option>
                                <option>Photos</option>
                                <option>Graphics</option>
                                <option>UI Design</option>
                                <option>Web Themes</option>
                                <option>Fonts</option>
                                <option>Add-Ons</option>
                            </select>
                        </div>
                    </div>
                    <form asp-action="AddProduct" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3 pb-2">
                            <label class="form-label">Product name</label>
                            <input class="form-control" type="text" asp-for="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                            <div class="form-text">Maximum 100 characters. No HTML or emoji allowed.</div>
                        </div>
                        <div class="file-drop-area mb-3">
                            <div class="file-drop-icon ci-cloud-upload"></div><span class="file-drop-message">Drag and drop here to upload product screenshot</span>
                            <input class="file-drop-input" asp-for="DisplayImage" type="file">
                            <button class="file-drop-btn btn btn-primary btn-sm mb-2" type="button">Or select file</button>
                            <span asp-validation-for="DisplayImage" class="text-danger"></span>
                            <div class="form-text">1000 x 800px ideal size for hi-res displays</div>
                        </div>
                        <div class="mb-3 py-2">
                            <label class="form-label">Product description</label>
                            <textarea class="form-control" rows="6" asp-for="Description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                            @*<div class="bg-secondary p-3 fs-ms rounded-bottom"><span class="d-inline-block fw-medium me-2 my-1">Markdown supported:</span><em class="d-inline-block border-end pe-2 me-2 my-1">*Italic*</em><strong class="d-inline-block border-end pe-2 me-2 my-1">**Bold**</strong><span class="d-inline-block border-end pe-2 me-2 my-1">- List item</span><span class="d-inline-block border-end pe-2 me-2 my-1">##Heading##</span><span class="d-inline-block">--- Horizontal rule</span></div>*@
                        </div>
                        <div class="mb-3 py-2">
                            <label class="form-label" for="unp-product-tags">Product tags</label>
                            <textarea class="form-control" rows="4" asp-for="Tags"></textarea>
                            <div class="form-text">Up to 10 keywords that describe your item. Tags should all be in lowercase and separated by commas.</div>
                        </div>
                        <div class="mb-3 pb-2">
                            <label class="form-label" for="unp-product-files">Upload more product images</label>
                            <input class="form-control" type="file" asp-for="GalleryImages" multiple="multiple">
                            <div class="form-text">Maximum file size is 1GB</div>
                        </div>
                        <div class="row">
                            <label class="form-label" for="unp-standard-price">Pricing type</label>
                            <div class="col-sm-6 mb-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="ex-check-4">
                                    <label class="form-check-label" for="ex-check-4">Check if product is weighted</label>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-3">
                                <label class="form-label" for="unp-extended-price">Unit of measurement</label>
                                <input class="form-control" type="text">
                                <div class="form-text">Common units are lbs, gms, oz, fl etc.</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mb-3">
                                <label class="form-label" for="unp-standard-price">Price per unit</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="ci-dollar"></i></span>
                                    <input class="form-control" type="text" id="unp-standard-price">
                                </div> 
                            </div>
                            <div class="col-sm-6 mb-1">
                                <label class="form-check-label" for="ex-check-4">Sales option</label>

                                <div class="form-check form-check-inline input-group">
                                    <input class="form-check-input" type="checkbox" id="ex-check-4">
                                    <label class="form-check-label" for="ex-check-4">On Sale?</label> 
                                </div>
                            </div>
                            <div class="col-sm-6 mb-2">
                                <label class="form-label" for="unp-extended-price">Sales price</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="ci-dollar"></i></span>
                                    <input class="form-control" type="text" id="unp-extended-price">
                                </div> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mb-3">
                                <label class="form-label" for="unp-standard-price">Tax</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="ci-dollar"></i></span>
                                    <input class="form-control" type="text" id="unp-standard-price">
                                </div> 
                            </div>
                            <div class="col-sm-6 mb-3">
                                <label class="form-label" for="unp-standard-price">Quantity Available</label>
                                <div class="input-group"> 
                                    <input class="form-control" type="text" id="unp-standard-price">
                                </div> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mb-3">
                                <label class="form-label" for="unp-standard-price">Platform Fee:</label> <br/>
                                <label class="form-label" style="font-size: 2rem" for="unp-standard-price">$0.45 (4%)</label>
                            </div>
                            <div class="col-sm-6 mb-3">
                                <label class="form-label" for="unp-standard-price">Display Value</label> <br/>
                                <label class="form-label" style="font-size: 2rem" for="unp-standard-price">$32.99</label>
                            </div>
                        </div>
                     
                        <button class="btn btn-primary d-block w-100" type="submit"><i class="ci-cloud-upload fs-lg me-2"></i>Upload Product</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}