@model Afrimart.ViewModels.Sellers.SellerProductListViewModel
@{
    ViewData["Title"] = "Product List";
    Layout = "_SellerLayout";
}

<!-- Dashboard header-->
<partial name="_DashboardHeader" model="Model.DashboardHeaderViewModel" />
<div class="container mb-5 pb-3">
    <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row">
            <!-- Sidebar-->
            <partial name="_Sidebar" />
            <!-- Content-->
            <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
                <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
                    <!-- Title-->
                    <div class="d-sm-flex flex-wrap justify-content-between align-items-center border-bottom">
                        <h2 class="h3 py-2 me-2 text-center text-sm-start">Your products<span class="badge bg-faded-accent fs-sm text-body align-middle ms-2">5</span></h2>
                        <div class="py-2">
                            <div class="d-flex flex-nowrap align-items-center pb-3">
                                <label class="form-label fw-normal text-nowrap mb-0 me-2" for="sorting">Sort by:</label>
                                <select class="form-select form-select-sm me-2" id="sorting">
                                    <option>Date Created</option>
                                    <option>Product Name</option>
                                    <option>Price</option>
                                    <option>Your Rating</option>
                                    <option>Updates</option>
                                </select>
                                <button class="btn btn-outline-secondary btn-sm px-2" type="button"><i class="ci-arrow-up"></i></button>
                            </div>
                        </div>
                    </div>
                    @foreach (var product in Model.Products)
                    {
                        <!-- Product-->
                        <div class="d-block d-sm-flex align-items-center py-4 border-bottom">
                            <a class="d-block mb-3 mb-sm-0 me-sm-4 ms-sm-0 mx-auto" href="marketplace-single.html" style="width: 12.5rem;"><img class="rounded-3" src="@product.ImageUri" alt="Product"></a>
                            <div class="text-center text-sm-start">
                                <h3 class="h6 product-title mb-2"><a href="marketplace-single.html">@product.Name</a></h3>
                                <div class="d-inline-block text-accent">$@Math.Truncate(product.Price).<small>@((int)((product.Price - Math.Truncate(product.Price))*100))</small></div>
                                <div class="d-inline-block text-muted fs-ms border-start ms-2 ps-2">Sales: <span class="fw-medium">@product.TotalSales</span></div>
                                <div class="d-inline-block text-muted fs-ms border-start ms-2 ps-2">Earnings: <span class="fw-medium">$@product.TotalEarnings</span></div>
                                <div class="d-flex justify-content-center justify-content-sm-start pt-3">
                                    <button class="btn bg-faded-accent btn-icon me-2" type="button" data-bs-toggle="tooltip" title="Download"><i class="ci-download text-accent"></i></button>
                                    <button class="btn bg-faded-info btn-icon me-2" type="button" data-bs-toggle="tooltip" title="Edit"><i class="ci-edit text-info"></i></button>
                                    <button class="btn bg-faded-danger btn-icon" type="button" data-bs-toggle="tooltip" title="Delete"><i class="ci-trash text-danger"></i></button>
                                </div>
                            </div>
                        </div>
                    } 
                </div>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 