@model Afrimart.ViewModels.Addresses.SaveOrUpdateAddressViewModel
@{
    ViewData["Title"] = "Update Address";
}


<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <section class="col-lg-8">
            
            <form asp-action="UpdateAddress">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <input asp-for="ReturnUrl" type="hidden" />
                <!-- Shipping address-->
                <div>
                    <h2 class="h6 pt-1 pb-3 mb-3 border-bottom">Shipping address</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">First Name</label>
                                <input class="form-control" type="text" asp-for="ShippingAddress.FirstName">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">Last Name</label>
                                <input class="form-control" type="text" asp-for="ShippingAddress.LastName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">Address Line 1</label>
                                <input class="form-control" type="text" asp-for="ShippingAddress.AddressLine1">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">Address Line 2</label>
                                <input class="form-control" type="text" asp-for="ShippingAddress.AddressLine2">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">City</label>
                                <input class="form-control" type="text" asp-for="ShippingAddress.City">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">State</label>
                                <select class="form-select" asp-for="ShippingAddress.State">
                                    <option>Choose country</option>
                                    <option>Australia</option>
                                    <option>Canada</option>
                                    <option>France</option>
                                    <option>Germany</option>
                                    <option>Switzerland</option>
                                    <option>USA</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">ZIP Code</label>
                                <input class="form-control" type="text" asp-for="ShippingAddress.ZipCode">
                            </div>
                        </div>
                    </div>
                </div>


                <h6 class="mb-3 py-3 border-bottom">Billing address</h6>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" checked id="same-address">
                    <label class="form-check-label" for="same-address">Same as shipping address</label>
                </div>

                <!--Billing address-->
                <div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">First Name</label>
                                <input class="form-control" type="text" asp-for="BillingAddress.FirstName">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">Last Name</label>
                                <input class="form-control" type="text" asp-for="BillingAddress.LastName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">Address Line 1</label>
                                <input class="form-control" type="text" asp-for="BillingAddress.AddressLine1">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">Address Line 2</label>
                                <input class="form-control" type="text" asp-for="BillingAddress.AddressLine2">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">City</label>
                                <input class="form-control" type="text" asp-for="BillingAddress.City">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">State</label>
                                <select class="form-select" asp-for="BillingAddress.State">
                                    <option>Choose country</option>
                                    <option>Australia</option>
                                    <option>Canada</option>
                                    <option>France</option>
                                    <option>Germany</option>
                                    <option>Switzerland</option>
                                    <option>USA</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">ZIP Code</label>
                                <input class="form-control" type="text" asp-for="BillingAddress.ZipCode">
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Navigation (desktop)-->
                <div class="d-none d-lg-flex pt-4 mt-3">
                    <div class="w-50 pe-3"><a class="btn btn-secondary d-block w-100" href="@Url.Action("Index", "ShoppingCart")"><i class="ci-arrow-left mt-sm-0 me-1"></i><span class="d-none d-sm-inline">Back to Cart</span><span class="d-inline d-sm-none">Back</span></a></div>
                    <div class="w-50 ps-2">
                        <input class="btn btn-primary d-block w-100" type="submit" value="Update Address"/>
                        @*<a class="btn btn-primary d-block w-100" href="@Url.Action("Index", "Checkout")">
                            <span class="d-none d-sm-inline">Update Address</span>
                            <span class="d-inline d-sm-none">Next</span><i class="ci-arrow-right mt-sm-0 ms-1"></i>
                        </a>*@
                    </div>

                    @*<div class="w-50 ps-2"><a class="btn btn-primary d-block w-100" href="@Url.Action("Index", "Checkout")"><span class="d-none d-sm-inline">Update Address</span><span class="d-inline d-sm-none">Next</span><i class="ci-arrow-right mt-sm-0 ms-1"></i></a></div>*@
                </div>
            </form>

        </section>
    </div>
</div>



